/* Set the font family, margin, padding, background color, and text color for the body */
body {
  font-family: neue-haas-grotesk-text, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #EAE0D5;
  color: #333;
}

/* Style the header */
header {
  background-color: #800020;
  color: white;
  margin:0;
  padding: 30px;
  text-align: center;
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  position: relative; /* For absolute positioning of h1 */
  
}

/* Style the h1 element inside the header */
header h1 {
  position: absolute;
  left: 20px; /* Adjust the left position as needed */
  font-size: 24px;
}

/* Style the p element inside the header */
header p {
  margin: 0;
  font-size: 16px;
}

/* Style the section */
section {
  flex: 1; /* Take up the remaining space */
  padding: 20px;
  padding-bottom: 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Style the h2 elements */
h2 {
  color: #800020;
  margin-bottom: 10px;
}

/* Define the page-container element */
page-container {
  position: relative;
  min-height: 100vh;
}

/* Style the footer */
footer {
  text-align: center;
}

/* Style the images inside the footer */
footer img {
  transition: transform 0.3s ease-in-out;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 10px; /* Add space between images */
  cursor: pointer;
}

/* Apply a scale transform on hover for the images inside the footer */
footer img:hover {
  transform: scale(1.1);
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 600px) {
  /* Adjust the font size of h1 inside the header for mobile devices */
  header h1 {
    font-size: 2em;
  }

  /* Adjust the padding and margin of the section for mobile devices */
  section {
    padding: 10px;
    margin: 10px auto;
  }
}

/* Keyframes for the Y-axis spin animation */
@keyframes spinY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* Default state of the image */
.grid-item img {
  transform: rotateY(0deg); /* Start at 0 degrees */
  transition: transform 0.7s ease-in-out; /* Smooth transition back to initial state */
}

/* Apply the spin effect on hover over the grid item */
.grid-item:hover img {
  transform: rotateY(360deg); /* Rotate to 360 degrees */
  transition: transform 0.7s ease-in-out; /* Smooth rotation */
}

/* Style the button container */
.button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 50%;
}

/* Style the buttons inside the button container */
.button-container button {
  padding: 10px;
  font-size: 16px;
}

