body {
  font-family: neue-haas-grotesk-text, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #800020;
  color: white;
  padding: 30px;
  text-align: center;
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  position: relative; /* For absolute positioning of h1 */
}

header h1 {
  position: absolute;
  left: 20px; /* Adjust the left position as needed */
  font-size: 24px;
}

header p {
  margin: 0;
  font-size: 16px;
}

section {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #800020;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 2em;
  }

  section {
    padding: 10px;
    margin: 10px auto;
  }

  ul li {
    margin: 5px 0;
  }
}

/* Keyframes for the Y-axis spin animation */
@keyframes spinY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* Default state of the image */
.grid-item img {
  transform: rotateY(0deg); /* Start at 0 degrees */
  transition: transform 0.7s ease-in-out; /* Smooth transition back to initial state */
}

/* Apply the spin effect on hover over the grid item */
.grid-item:hover img {
  transform: rotateY(360deg); /* Rotate to 360 degrees */
  transition: transform 0.7s ease-in-out; /* Smooth rotation */
}
